@charset "UTF-8";

/* プルダウンリスト */
.selectShop {
	width:30vw
}
.selectCategory{
	width:30vw
}
.selectItem{
	width:30vw
}




/* テーブル */

table {
  border-collapse: collapse;
  width: 50vw;

}

table th {
	background-color: #66cdaa;
}

.resistTable {
	  align:left;
}

.cellRadio {
	width:5vw
}

.cellThread {
	width:95vw
}

/*** 表 ***/
/* 入力欄 */
td input {
	min-width:98%;
	width:98%;
}
/* ラジオボタン */
td input {
	margin-left:auto;
	margin-right:auto;
}

/* ボタン */
button {
	width:10vw;
}