<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">



<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="./css/style-login.css">
</head>

<body>
	<h1 class="header">価格記録システム</h1>
	<br>
	<br>
	<!-- 画面名表示 -->
	<div class="systemName">ログイン画面</div>

	<div th:if="${param.error}">
            ユーザー名かパスワードが違います
        </div>
        <div th:if="${param.logout}">
            ログアウト済みです
        </div>
        <form th:action="@{/login}" method="post">
            <div><label>ユーザー名：<input type="text" name="username" /></label></div>
            <div><label>パスワード：<input type="password" name="password" /></label></div>
            <div><input type="submit" value="ログイン" /></div>
        </form>

</body>

</html>