<!DOCTYPE html>
<html lang=ja xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="./css/style_master.css">

<script src="js/jquery-3.6.0.min.js"></script>
<script src="js/master.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="js/master_ajax.js"></script>

</head>

<body>
	
	<h2 class="header">価格記録システム</h2>
	<h1>ユーザー：[[${#httpServletRequest.remoteUser}]]さん</h1>

	<!-- 画面名表示 -->
	<div class="systemName">マスタ画面</div>
	<br>

		<div>
			<input type="radio" name="selectRadioItem" value="1" id="radio1">
				店舗：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type = "text" class="selectShop" name="shop_name" value="">
		</div>

		<!-- 品目-->
		<div>
			<input type="radio" name="selectRadioItem" value="2" id="radio2">
				品目：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="text" class="selectCategory"　name="category_name" value="">
		</div>

		<!-- 商品名 -->
		<div>
			<input type="radio" name="selectRadioItem" value="3" id="radio3">
				商品名：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="text" class="selectItem" name="item_name" value="">
		</div>
		
		<!-- ユーザー名 -->
		<div>
			<input type="radio" name="selectRadioItem" value="4" id="radio4">
				ユーザー名：&nbsp;&nbsp; 
			<input type="text" class="selectItem" name="user_name" value="">
		</div>
		<br>
		
		<!-- 検索ボタン -->
		<input type="button" value="検索" name="searchBtn" id="searchBtn" onclick="OnButtonClick();">
		<br> <br>

			
		<!-- テーブル -->
		<table border="1" class="resistTable" id="resistTable">
		<thread>
				<tr>
					<th class="cellRadio"> </th>
					<th class="cellThread" id="test"> 選択項目 </th>
				</tr>
		</thread>
			
		<tbody>
			
			　<!-- 検索結果表示 -->
			　<tr th:each="result : ${resultList}" th:object="${result}">
			　	<td><input type="radio" class="tableRadio"></input></td>
			　	<td th:text="*{shop_name}"></td>
			　</tr>
			
			　<!-- 入力欄 -->
			　<tr>
				<td><input type="radio"></input></td>
				<td><input type="text"></input></td>
			　</tr>
			</tbody>
		</table>

		<br> <br>

		<!-- ボタン -->
		<button onclick="location.href='/regist'" class="btn-menu">登録</button>
		<button onclick="location.href='/regist'" class="btn-menu">修正</button>
		<button onclick="location.href='/regist'" class="btn-menu">購入品登録</button>
		<button onclick="location.href='./index.html'" class="btn-menu">メニュー</button>


</body>

</html>