<!DOCTYPE html>
<html lang=ja xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">


</head>

<body>
	<h2 class="header">価格記録システム</h2>
	<h1> th:inline="text"こんにちは[[${#httpServletRequest.remoteUser}]]さん! </h1>
	        <form th:action="@{/logout}" method="post">
            <input type="submit" value="ログアウト" />
        </form>
	<br>
	<br>

	<!-- 画面名表示 -->
	<div class="systemName">メニュー画面</div>

	 <button onclick="location.href='./index.html'">購入品登録</button>
	  <button onclick="location.href='./index.html'">検索</button>
	   <button onclick="location.href='./index.html'">グラフ</button>
	   <br>
	   <br>
	    <button onclick="location.href='./index.html'">マスタ管理</button>
	     <button onclick="location.href='./index.html'">ログアウト</button>
	
	

</body>

</html>