<!DOCTYPE html>
<html lang=ja>
<head>
<meta charset="UTF-8">


</head>

<body>
	<h1 class="header">価格記録システム</h1>
	<br>
	<br>

	<!-- 画面名表示 -->
	<div class="systemName">メニュー画面</div>

	 <button onclick="location.href='./index.html'">購入品登録</button>
	  <button onclick="location.href='./index.html'">検索</button>
	   <button onclick="location.href='./index.html'">グラフ</button>
	   <br>
	   <br>
	    <button onclick="location.href='./index.html'">マスタ管理</button>
	     <button onclick="location.href='./index.html'">ログアウト</button>
	
	

</body>

</html>